<h2><%= facade.member_count %> Members</h2>
<% facade.members.each do |member| %>
<ul class="member">
  <li class="name"><%= member.name%></li>
  <li class="role"><%= member.role %></li>
  <li class="house"><%= member.house %></li>
  <li class="patrounus"><%= member.patrounus %></li>
</ul>
<% end %>
